/* --contentbegrenzung: clamp(16px, 9.5dvh, 135px); */

@media screen and (min-width: 1441px) {
    header {
        padding: 0px max(135px, calc(50% - 720px));
    }

    main {
        padding: 0px max(135px, calc(50% - 720px));
    }

    footer {
        padding: 0px max(135px, calc(50% - 720px));
    }
}
