@media screen and (max-width: 747px) {
    .header_main {
        height: clamp(70px, 19dvw, 80px);
        justify-content: center;
        padding: 0;

        img {
            height: auto;
            width: clamp(168px, 52dvw, 216px);
        }
    }

    .photo_album {
        padding: 0 clamp(16px, 7dvw, 50px);

        h1 {
            font-size: clamp(2rem, 10dvw, 4rem);
        }
    }

    .footer_main {
        height: clamp(100px, 17dvw, 120px);

        img {
            width: clamp(100px, 18dvw, 130px);
            height: auto;
        }
    }
}

@media screen and (min-width: 1441px) {
    .header_main {
        padding: 0px max(140px, calc(50% - 720px));
    }

    .photo_album {
        padding: 0px max(135px, calc(50% - 720px));
    }

    .footer_main {
        padding: 0px max(135px, calc(50% - 720px));
    }
}
