body {
    min-height: 100dvh;
    background-color: var(--bg_darkblue_dark);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.header_main {
    height: 80px;
    width: 100%;
    background-color: var(--bg_darkblue_light);
    padding-left: var(--padding_header);

    display: flex;
    align-items: center;
}

main {
    flex: 1;
    width: 100%;

    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: clamp(40px, 12dvw, 160px) 0;
}

.photo_album {
    width: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: clamp(56px, 17dvw, 80px);

    padding: 0 var(--contentbegrenzung);

    h1 {
        color: var(--font_white);
        font-size: 4rem;
        font-weight: 800;
        text-align: center;
        line-height: 100%;
    }

    .photo_wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;

        flex-wrap: wrap;

        .photo_box {
            height: 150px;
            width: 150px;
            border-radius: 15px;
            border: none;
            background: none;

            img {
                color: var(--font_white);
                object-fit: cover;

                height: 150px;
                width: 150px;
                border: 2px solid var(--button_blue_light);
                border-radius: 15px;
                transition: all 250ms ease-in-out;
            }

            img:hover {
                border: 2px solid var(--border_blue);
                transform: scale(1.1);
                transition: all 250ms ease-in-out;
            }
        }
    }
}

.dialog_wrapper {
    height: 670px;
    width: 680px;
    background-color: var(--bg_darkblue_light);
    border-radius: 40px;
    border: none;

    align-self: center;
    justify-self: center;
    position: fixed;

    .dialog_box {
        height: 100%;
        width: auto;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        padding: 56px clamp(20px, 6dvw, 60px);
    }

    .dialog_head {
        width: 100%;
        max-width: 560px;

        display: flex;
        justify-content: space-between;

        h2 {
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 100%;
        }

        button {
            height: 30px;
            width: 30px;
            border-radius: 50%;
            background: none;
            border: none;

            display: flex;
            justify-content: center;
            align-items: center;
        }

        button:hover {
            background-color: var(--button_blue_light);
        }

        button:active {
            background-color: var(--button_blue_dark);
        }
    }

    .dialog_img {
        height: 370px;
        width: 100%;

        display: flex;

        img {
            object-fit: contain;
            height: 370px;
            width: 100%;
        }
    }

    .dialog_foot {
        height: 60px;
        width: 260px;

        display: flex;
        justify-content: space-between;
        align-items: center;
        justify-content: center;

        button {
            height: 60px;
            width: 60px;
            border-radius: 50%;
            background-color: var(--button_red_light);
            border: none;

            display: flex;
            justify-content: center;
            align-items: center;
        }

        .button_left {
            transform: rotate(180deg);
        }

        button:hover {
            background-color: var(--button_red_dark);
        }

        button:active {
            background-color: var(--button_red_medium);
        }

        p {
            height: 60px;
            width: 140px;
            font-size: 1rem;
            font-weight: 500;

            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

/* #region dialog.opened and dialog:backdrop */

dialog {
    transition: all 1.5s ease-in-out;
}

dialog.opened {
    transition: all 1.5s ease-in-out;
}

dialog::backdrop {
    opacity: 0;
    background-color: black;
    transition: all 250ms ease-in;
}

dialog.opened::backdrop {
    opacity: 0.5;
    transition: all 250ms ease-in;
}

/* #endregion */

.footer_main {
    height: 120px;
    width: 100%;
    background-color: var(--bg_darkblue_light);
    border-top-right-radius: 40%;
    border-top-left-radius: 40%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;

    p {
        color: var(--da_bluegrey);
        font-family: "Figtree";
        font-size: 0.9rem;
        font-weight: 400;
        line-height: 100%;
    }
}
